body {
    font-family: Gill Sans, sans-serif;
    background-color: salmon;
    text-align: center;
    margin: 0;
}

  #title-container{
    background-image: url("../img/zoo-banner.jpg");
    background-repeat:no-repeat;
    background-blend-mode: color;
    background-position:center;
    background-size: cover;
    text-align: center;
    padding:200px;
    margin:0px;
  }
  
  #title-h1{
    color:black;
    background-color:rgba(255, 255, 255, 0.562);
    margin:0px;
    padding:10px;
    font-size:40px;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .card-img{
    width: 300px;
    height: 350px;
    margin-bottom:10px;
  }
  
  .link{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }
